DB_URL=jdbc:sqlserver://localhost:1433;databaseName=contact_db;encrypt=true;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=yourStrong(!)Password
JWT_SECRET=replace_with_long_secure_secret
JWT_EXPIRATION_MS=86400000
